<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for @user do |f| %>
	      <%= render 'shared/error_messages' %>
		  
 
	  <%= f.input :name, :error => false%>
			  
	  <%= f.label :gender %>	  
      <%= f.collection_radio_buttons(
      :gender, [['M', 'icon_male'], ['F', 'icon_female']], :first, :last, :item_wrapper_class => 'pull-left'
		) do |b|
			b.label { image_tag("/assets/#{b.text}.png") + b.radio_button }
		end
	  %>
	  </br>
	  </br>
	  </br>
	  
	  <%= f.input :country, :error => false %>
	  
		  

      <%= f.input :birthdate, as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year - 18, :error => false %>
	  
	  <%= f.input :team, :error => false %>

      <%= f.input :email, :error => false %>

	  <%= f.input :password, :error => false %>

	  <%= f.input :password_confirmation, :error => false %>

      <%= f.submit "Update my account", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">Change my Gravatar</a>
  </div>
</div>