<% provide(:title, 'All users') %>
<h1>All users</h1>


<%= form_tag :controller => 'users', :action => 'search' do %>  
  <p>  
    <%= text_field_tag :search, params[:query], :class => 'search-query user_search_form pull_left', :placeholder => "Search by name or email..." %>  
  </p>  
<% end %>  
</br>
</br>
<div class="centered">
<%= will_paginate %>
</div>
<ul class="users">
  <%= render @users %>
</ul>
<div class="centered">
<%= will_paginate %>
</div>