<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <h1> <%= @user.name %> </h1>
		<h5> <%= @user_age %> years old <%= @user_gender %> from <%= @user.country %> </h5>
		<%= render 'users/friendships' %> 
      </h1>
    </section>
  </aside>
</div>
<% if signed_in? && @user == current_user %>
    <aside class="span8">
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
<% end %> 
</br>
  <div class="span7">
    <% if @user.microposts.any? %>
      <h3>What's up with <%= @user.name %> ?? (<%= @user.microposts.count %>)</h3>
      <ul class="microposts">
        <%= render @microposts %>
	  </ul>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
   <div class="span7">
      <h3><%= @user.name %>'s stats:</h3>
	  
	  
<div class="rideinfo" id="distance">
<small>Overall distance:</small>
</br>
<img id="rideinfo_icon" src='/assets/distance.png'></img>
<h3><%= @user_stats[0] %> km</h3>
</div>

<div class="rideinfo" id="time">
<small>Overall Duration:</small>
</br>
<img id="rideinfo_icon" src='/assets/time.png'></img>
<h3><%= @user_stats[1].to_i %> minutes = <%= @user_stats[1].to_i/60.round(2) %> hours</h3>
</div>

<div class="rideinfo" id="speed">
<small>Average speed:</small>
</br>
<img id="rideinfo_icon" src='/assets/speed.png'></img>
<h3><%= @user_stats[2] %> km/h</h3>
</div>
  </div>
    </div>