<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <h1> <%= @user.name %> </h1>
		<h5> <%= @user_age %> years old <%= @user_gender %> from <%= @user.country %> </h5>
		<%= render 'users/friendships' %> 
      </h1>
    </section>
  </aside>
</div>

  <div class="well" id="show_user_rides">
  <h3> <%= @user.name.split[0] %>'s recent rides: </h3>
  </br>
    <div class="well centered">
<%= calendar_for(@rides) do |t| %>
  <%= t.head('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun') %>
  <%= t.day(:day_method => :created_at) do |day, tasks| %>
    <%= day.day %>
    <% tasks.each do |task| %>
      
	  <%= link_to  :controller => :rides, :action => :show, :id => task.id do%>
	  <div class="ride_icon_in_calendar">
	  </div>
			<% end %>
			

    <% end %>
  <% end %>
<% end %>
  
  </div>
    </div>