<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <h1> <%= @user.name %> </h1>
		<h5> <%= @user_age %> years old <%= @user_gender %> from <%= @user.country %> </h5>
		<%= render 'users/friendships' %> 
      </h1>
    </section>
  </aside>
</div>

  <div class="well" id="show_user_rides">
  <h3> <%= @user.name.split[0] %>'s recent rides: </h3>
  </br>
  <%= @rides.all %>
  </div>